<%- include('../shared/general-styles/general-styles-component')%>
<%- include('../shared/menu/menu-component')%>

<%const bolivar = {name : "Bolivar", last_name : "Roman", dni : "1727381079"}%>
<%const num = 25%>
<%const msg = "Hello"%>

<p><%= bolivar.name%> <%bolivar.last_name%></p>
<p><%= num %></p>
<p><%= msg %></p>
<%const arrayNumber = [1,2,3,4,5,6]%>
<ul>
    <% arrayNumber.forEach( (obj) => { %>
        <li><%=obj%></li>
     <% } ) %>
</ul>


<a href="/usuario/view/create">
    <button>Add</button>
</a>
<table>
    <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>DNI</th>
        <th>Actions</th>
    </tr>
    <% users.forEach( (obj) => { %>
    <tr>
        <td><%= obj.name %></td>
        <td><%= obj.last_name %></td>
        <td><%= obj.dni %></td>
        <td>
            <button>See</button>
            <button>Edit</button>
            <form action="/usuario/deleteFromView/<%= obj.id %>" method="post">
                <button type="submit">Delete</button>
            </form>

        </td>
    </tr>
    <% } ) %>
</table>



<%- include('../shared/general-functions/general-functions-component')%>
